[submodule "DEngine/DEngine/vendor/spdlog"]
	path = DEngine/DEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DEngine/DEngine/vendor/GLFW"]
	path = DEngine/DEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "DEngine/DEngine/vendor/imgui"]
	path = DEngine/DEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "DEngine/DEngine/vendor/glm"]
	path = DEngine/DEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "DEngine/DEngine/vendor/yaml-cpp"]
	path = DEngine/DEngine/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
